@using System.Globalization
@model ChatViewModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Messages";
}

<style>
    .container{max-width:1170px; margin:auto;}
    img{ max-width:100%;}
    .inbox_people {
      background: #f8f8f8 none repeat scroll 0 0;
      float: left;
      overflow: hidden;
      width: 40%; border-right:1px solid #c4c4c4;
    }
    .inbox_msg {
      border: 1px solid #c4c4c4;
      clear: both;
      overflow: hidden;
    }
    .top_spac{ margin: 20px 0 0;}
    
    
    .recent_heading {float: left; width:40%;}
    .srch_bar {
      display: inline-block;
      text-align: right;
      width: 60%;
    }
    .headind_srch{ padding:10px 29px 10px 20px; overflow:hidden; border-bottom:1px solid #c4c4c4;}
    
    .recent_heading h4 {
      color: #05728f;
      font-size: 21px;
      margin: auto;
    }
    .srch_bar input{ border:1px solid #cdcdcd; border-width:0 0 1px 0; width:80%; padding:2px 0 4px 6px; background:none;}
    .srch_bar .input-group-addon button {
      background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
      border: medium none;
      padding: 0;
      color: #707070;
      font-size: 18px;
    }
    .srch_bar .input-group-addon { margin: 0 0 0 -27px;}
    
    .chat_ib h5{ font-size:15px; color:#464646; margin:0 0 8px 0;}
    .chat_ib h5 span{ font-size:13px; float:right;}
    .chat_ib p{ font-size:14px; color:#989898; margin:auto}
    .chat_img {
      float: left;
      width: 11%;
    }
    .chat_ib {
      float: left;
      padding: 0 0 0 15px;
      width: 88%;
    }
    
    .chat_people{ overflow:hidden; clear:both;}
    .chat_list {
      border-bottom: 1px solid #c4c4c4;
      margin: 0;
      padding: 18px 16px 10px;
    }
    
    .chat_list:hover {
      background:#c4c4c4;
    }
    .inbox_chat { height: 550px; overflow-y: scroll;}
    
    .active_chat{ background:#ebebeb;}
    
    .incoming_msg_img {
      display: inline-block;
      width: 6%;
    }
    .received_msg {
      display: inline-block;
      padding: 0 0 0 10px;
      vertical-align: top;
      width: 92%;
     }
     .received_withd_msg p {
      background: #ebebeb none repeat scroll 0 0;
      border-radius: 3px;
      color: #646464;
      font-size: 14px;
      margin: 0;
      padding: 5px 10px 5px 12px;
      width: 100%;
    }
    .time_date {
      color: #747474;
      display: block;
      font-size: 12px;
      margin: 8px 0 0;
    }
    .received_withd_msg { width: 57%;}
    .mesgs {
      float: left;
      padding: 30px 15px 0 25px;
      width: 60%;
    }
    
     .sent_msg p {
      background: #05728f none repeat scroll 0 0;
      border-radius: 3px;
      font-size: 14px;
      margin: 0; color:#fff;
      padding: 5px 10px 5px 12px;
      width:100%;
    }
    .outgoing_msg{ overflow:hidden; margin:26px 0 26px;}
    .sent_msg {
      float: right;
      width: 46%;
    }
    .input_msg_write input {
      background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
      border: medium none;
      color: #4c4c4c;
      font-size: 15px;
      min-height: 48px;
      width: 100%;
    }
    
    .type_msg {border-top: 1px solid #c4c4c4;position: relative;}
    .msg_send_btn {
      background: #05728f none repeat scroll 0 0;
      border: medium none;
      border-radius: 50%;
      color: #fff;
      cursor: pointer;
      font-size: 17px;
      height: 33px;
      position: absolute;
      right: 0;
      top: 11px;
      width: 33px;
    }
    .messaging { padding: 0 0 50px 0;}
    .msg_history {
      height: 516px;
      overflow-y: scroll;
    }
</style>

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->


<html>
<head>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" type="text/css" rel="stylesheet"

</head>
<body>
<div class="container">
    <h3 class=" text-center">Messaging</h3>
    <div class="messaging">
        <div class="inbox_msg">
            <div class="inbox_people">
                <div class="headind_srch">
                    <div class="recent_heading">
                        <h4>Recent</h4>
                    </div>
                    <div class="srch_bar">
                        <div class="stylish-input-group">
                            <input type="text" class="search-bar" placeholder="Search">
                            <span class="input-group-addon">
                                <button type="button">
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="inbox_chat">
                    @foreach (var chat in @Model.UserChats)
                    {
                        <div prop-chat-id="@chat.ChatId" prop-chat-collcutor-id="@chat.CollocutorId"
                             onclick="onChatSelected(this)">
                            <div class="chat_list @(chat.ChatId == Model.SelectedChatId ? "active_chat" : "")">
                                <div class="chat_people">
                                    <div class="chat_img">
                                        <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil">
                                    </div>
                                    <div class="chat_ib">
                                        <h5>
                                            @chat.CollocutorName <span class="chat_date">@chat.LastMessageTime.Date.ToString("yyyy-MM-dd")</span>
                                        </h5>
                                        <p>
                                            @chat.LastMessage
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="mesgs">
                <div class="msg_history" id="msg_history">
                </div>
                <div class="type_msg">
                    <div class="input_msg_write">
                        <input type="text" class="write_msg" id="write_msg_inp" placeholder="Type a message"/>
                        <button class="msg_send_btn" type="button" onclick="onSendMessage()">
                            <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>


        <p class="text-center top_spac"> Design by <a target="_blank" href="#">Sunil Rajput</a></p>

    </div>
</div>
</body>
</html>

@section Scripts {
    	<script>
            let selectedChatId = @(Model.SelectedChatId)
            let userId = @(Model.UserId)
            
            function scrollToBottom() {
              let messages = $('#msg_history');
              messages.scrollTop = messages.scrollHeight;
            }
            
            scrollToBottom();
            $(document).ready(function() {
                loadMessagesForChat(selectedChatId)     
                    
                scrollToBottom();
                setInterval(function() {
                    loadMessagesForChat(selectedChatId)    
                }, 2500);
            })
                       
            function onChatSelected(e) {                
                // Get selected chat id
                let newSelectedChatId = $(e).attr('prop-chat-id');
                
                if (selectedChatId == newSelectedChatId)
                {
                    return;
                }
                
                selectedChatId = newSelectedChatId;
                
                clearMessageField();
                
                // Change active class
                $('.active_chat').removeClass('active_chat');
                $(e).children().addClass('active_chat');
                
                loadMessagesForChat(selectedChatId);
                scrollToBottom();
            }
            
            function appendMessage(message) {
                messageDate = new Date(message.sendTime);
                dateData = messageDate.toLocaleDateString('ua',  { hour: 'numeric', minute: 'numeric'}).split(', ');
                
                if (message.senderId == userId) {
                    $('#msg_history').append(formOutcomingMessage(message.content, dateData[1], dateData[0]))
                } else {
                    $('#msg_history').append(formIncomingMessage(message.content, dateData[1], dateData[0]))
                }              
            }
            
            function refillMessages(messages)
            {
                $('#msg_history').empty();
                messages.forEach(appendMessage);
            }            
           
            function loadMessagesForChat(chatId) {
                if (selectedChatId == -1) {       
                    return;
                }
                
                $.ajax({
                        type: 'GET',
                        url: "/api/chat/" + chatId + "/messages",
                        success: messages => {
                            refillMessages(messages);
                        },
                        error: resp => {
                            console.log(resp);
                        }
                    }
                );
            }
            
            function onSendMessage() {
              sendMessage(selectedChatId);
            }
            
            function sendMessage(chatId) {
                let content = $('#write_msg_inp').val();
                
                let requestData = {
                    content: content,
                    chatId: chatId
                };
                
                $.ajax({
                        type: 'POST',
                        url: "/api/chat/" + chatId + "/messages",
     					contentType: "application/json",
     					data: JSON.stringify(requestData),
                        success: message => {
                            clearMessageField();
                            appendMessage(message);
                        },
                        error: resp => {
                            console.log(resp);
                        }
                    }
                );              
            }
            
            function clearMessageField() {
              $('#write_msg_inp').val('');
            }
                
            
            function formIncomingMessage(content, time, date) {
              return `
                                  <div class="incoming_msg">
                                      <div class="incoming_msg_img">
                                          <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil">
                                      </div>
                                      <div class="received_msg">
                                          <div class="received_withd_msg">
                                              <p>
                                                  ` + content + `
                                              </p>
                                              <span class="time_date">` + (time + " | " + date) + `</span>
                                          </div>
                                      </div>
                                  </div>
              `
            }
            
            function formOutcomingMessage(content, time, date) {
              return `
                                  
                    <div class="outgoing_msg">
                        <div class="sent_msg">
                            <p>
                                ` + content + `
                            </p>
                            <span class="time_date"> ` + time + '|' + date + ` </span>
                        </div>
                    </div>
              `
            }
            
    		// function parentCommentView(comment) {
    		// 	return `<div class="row" id="${`comment_${comment.id}`}">
    		// 			<div class="col-md-2">
    		// 				<img src="https://image.ibb.co/jw55Ex/def_face.jpg" class="img-fluid rounded center" class="img-fluid rounded center"/>
    		// 				<p class="text-secondary text-center">${comment.creationDate}</p>
    		// 			</div>
    		// 			<div class="col-md-10">
    		// 				<p><strong>${comment.author.userName + " " + comment.author.surname}</strong></p>
    		// 				<p>${comment.text}<p>
    		// 					<button class="float-right btn btn-outline-primary ml-2" onclick="addreplyComment(${comment.id
    		// 		})" ${currentUserName == null ? 'disabled="disable"' : ''}>  <i class="fa fa-reply">
    		// 					</i> Reply</button>
    		// 					${currentUserName == comment.author.userName
    		// 		? '<a class="float-right btn text-white btn-danger" onclick="deleteComment(' + comment.id + ')">Delete</a>'
    		// 		: ''}
    		// 				</p>
    		// 			</div>
    		// 		</div>`;
    		// }
    	</script>
    @* *@
    @* 	<script> *@
    @* 		function loadComments() { *@
    @* 			$.ajax({ *@
    @* 					type: 'GET', *@
    @* 					url: "/api/post/comments/" + @Model.Id, *@
    @* 					success: comments => { *@
    @* 						let commentsView = buildCommentsTree(comments); *@
    @* 						document.getElementById("topCommentContainer").innerHTML = commentsView; *@
    @* 					}, *@
    @* 					error: resp => { *@
    @* 						document.getElementById("allValidation").innerHTML = "Failed to rate film"; *@
    @* 					} *@
    @* 				} *@
    @* 			); *@
    @* 		} *@
    @* 		loadComments(); *@
    @* 		function addreplyComment(commentId) { *@
    @* 			$('#comment_0').remove(); *@
    @* 			let replyComment = createreplyComment(commentId); *@
    @* 			$(replyComment.innerHTML).insertAfter(`#comment_${commentId}`); *@
    @* 		} *@
    @* 		function replyToComment(commentId, isReply) { *@
    @* 			let requestData = { *@
    @* 				blogId: @Model.Id, *@
    @* 				parentId: commentId, *@
    @* 				text: isReply ? document.getElementById("comment_0_text").value : document.getElementById("comment_00_text").value *@
    @* 			}; *@
    @* 			$.ajax({ *@
    @* 					type: 'POST', *@
    @* 					url: "/api/post/comments", *@
    @* 					contentType: "application/json", *@
    @* 					data: JSON.stringify(requestData), *@
    @* 					success: data => { *@
    @* 						window.location.href = "/userblog/blogview/" + @Model.Id; *@
    @* 					}, *@
    @* 					error: resp => { *@
    @* 						//TODO add some error handling *@
    @* 					} *@
    @* 				} *@
    @* 			); *@
    @* 		} *@
    @* 		function deleteComment(commentId) { *@
    @* 			$.ajax({ *@
    @* 					type: 'DELETE', *@
    @* 					url: "/api/post/comments/" + commentId, *@
    @* 					success: data => { *@
    @* 						window.location.href = "/userblog/blogview/" + @Model.Id; *@
    @* 					}, *@
    @* 					error: resp => { *@
    @* 						//TODO add some error handling *@
    @* 					} *@
    @* 				} *@
    @* 			); *@
    @* 		} *@
    @* 		//building comment tree *@
    @* 		function buildCommentsTree(comments) { *@
    @* 			let content = `<div class="card-body">`; *@
    @* 			for (let i = 0; i < comments.length; ++i) { *@
    @* 				let comment = comments[i]; *@
    @* 				content = content + buildCommentTree(comment); *@
    @* 			} *@
    @* 			return content + `</div>`; *@
    @* 		} *@
    @* 		function buildCommentTree(comment) { *@
    @* 			let content = parentCommentView(comment); *@
    @* 			let childCommentsView = buildCommentsTree(comment.subComments); *@
    @* 			return `${content}<div class="card card-inner">${childCommentsView}</div>`; *@
    @* 		} *@
    @* 		//building reply form *@
    @* 		function createreplyComment(commentId) { *@
    @* 			var div = document.createElement('div'); *@
    @* 			var userName = "@User.Identity.Name"; *@
    @* 			div.innerHTML = `<div class="card card-inner" id="comment_0"><div class="row" > *@
    @* 					<div class="col-md-2"> *@
    @* 						<img src="https://image.ibb.co/jw55Ex/def_face.jpg" class="img-fluid rounded center"/> *@
    @* 					</div> *@
    @* 					<div class="col-md-10"> *@
    @* 						<p><a href="https://maniruzzaman-akash.blogspot.com/p/contact.html"><strong>${userName}</strong></a></p> *@
    @* 						<textarea id="comment_0_text" style="width: 100%; height: 100%" rows="7"></textarea> *@
    @* 						<button class="float-right btn btn-outline-primary ml-2" onclick="replyToComment(${commentId *@
    @* 				}, true)">Add</button> *@
    @* 					</div> *@
    @* 				</div></div>`; *@
    @* 			return div; *@
    @* 		} *@
    @* 	</script> *@
}